DATABASE_URL=postgresql://postgres:TZEyALStyfGUoLDAtJDODARACkSJCpbK@switchyard.proxy.rlwy.net:18837/railway
DATABASE_SSLMODE=require
SECRET_KEY=TZEyALStyfGUoLDAtJDODARACkSJCpbK
ACCESS_TOKEN_EXPIRE_MINUTES=120
PORT=8000

